<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Update these settings for your test environment -->
    <add key="VaultUrl" value="https://akvsample.vault.azure.net"/>
    <add key="AuthClientId" value="b8baa7a7-9218-4ca8-b397-35f0ed19111f"/>
    <add key="AuthCertThumbprint" value="7920F186377047F46BC9C049BA538F8348C8D055"/>
    <add key="PrivateKeyUri" value="https://akvsample.vault.azure.net:443/keys/prohsmcert/6c71001158f14292ba9d4e653602f629"/>
    <add key="AKVCertificateName" value="prohsmcert"/>
    <add key="TracingEnabled" value="false" />
  </appSettings>
</configuration>